.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.input {
  width: 900px;
  height: 100px;
}

.button {
  width: 900px;
  height: 50px;
  background-color: rgb(110, 215, 132);
  color: azure;
  border-radius: 10px;
  cursor: pointer;
}
